<!-- templates/home.html -->
{% extends "base.html" %}

    {% block content %}
<h1>Welcome, I'm Elizabeth Ramirez</h1>
<p>
    I’m currently studying a Bachelor’s degree in Aeronautical Engineering, focusing by a strong interest in simulation, analysis, and computational tools.
</p>
    <br>
<p>
I enjoy building things that mix engineering, programming, and problem-solving, especially when technology can be used to make complex ideas more accessible.
</p>
    <br>
<p>
At the core of my work is a strong belief in human capability, the idea that people are able to learn, adapt, and build far more than they are usually encouraged to attempt.
</p>
    <br>
<p>
This website is my personal space to document projects, experiments, ideas and a project inself, as part of my learning process.<br>
</p>
    <br>
<p>
I value curiosity, autonomy, and the willingness to explore complex problems without predefined limits. </p>
</p>
<p>
    {% endblock %}