@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&family=Playfair+Display:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&family=Playfair+Display:wght@700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #edeaea;
}

/* window notice */

.window-notice {
  position: relative;
  display: flex;
  background-color: #edeaea;
  border: 2px solid #1A3E59;
  border-radius: 10px;
  position: fixed;
  z-index: 1000;
  top: 50%;    
  left: 50%;      
  transform: translate(-50%, -50%); 
  box-shadow: 0 5px 15px rgba(0, 0, 0 0, 0.3);
  text-transform: uppercase;
}


#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba( 0, 0, 0, 0.5);
  z-index: 999;
  opacity: auto;
  visibility: visible;
  transition: 1s ease, visibility 0s linear 1s;
  pointer-events: auto;
}

#close-window:checked ~.window-notice,
#close-window:checked ~ #overlay{
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.window-notice .logo-cntnr {
  background-color: #1A3E59; 
  display: inline-flex;        
  justify-content: center;
  align-items: center;
  width: auto;  
  height: auto;  
  border-radius: 7px; 
  padding: 5rem;
}

.window-notice .logo-cntnr img {
  width: 150px;   
  height: auto;
  display: block;
}

.window-notice .menu {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  padding: 0;
  list-style: none;
  align-items: flex-end;
  margin-right: 4.6rem;
}

.window-notice .menu li label.lang-btn:hover span {
  color:#556B2F;  
  transition: color 0.3s ease;
}

.window-notice .content {
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 600px;
  min-width: 320px;
  position: relative;
  width: 100%;
  overflow: hidden;
  font-size: 1.3rem;
  padding-top: 2rem;
}


.window-notice .content-text {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 1rem;
  margin-top: -1rem;
  margin-left: 4.8rem;
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-color: #7B4F2A;
  pointer-events: none;
}



.hidden {
  display: none;
}

#close-window:checked ~.window-notice {
  display: none;
}

#close-window:checked + .window-notice {
  display: none;
}

/* sidebar */

:root {
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 75px;
  z-index: 1;
  background: #1A3E59;
  overflow-x: hidden;
  padding-top: 10px;
  transition: 0.6s ease;
  box-shadow: 0 0 10px rgba(0,0,0,0,.5);
}
}

.sidebar ul li a .icon img {
  width: 60px;
  height: 50px;
  display: block;
  margin-bottom: 5px;
  transform: scale(1);
  transition: 0.6s ease;
}

.sidebar ul li:hover .icon img {
  transform: scale(1.15);
}

.sidebar .icon i {
    color: #ffff; 
    transform: scale(1);
    transition: 0.6s ease;
}

:root{
.sidebar:hover {
  width: 255px;
  transition: 0.6s ease;
}
}

.sidebar ul {
  position: relative;
  height: 97vh;
}

.sidebar ul li {
  list-style: none;
  margin: 5px 0;
}

.sidebar ul li:hover {
  background: #556B2F;
  transition: 0.3s ease;
}

.sidebar ul li:hover .icon i {
  transform: scale(1.15);
}

.sidebar ul li a {
  position: relative;
  display: flex;
  white-space: nowrap;
  text-decoration: none;
  color: #edeaea
}

.sidebar ul li .logo {
  margin-bottom: 20px;
}

.sidebar ul li .logo .text {
  font-size: 18px;
  font-weight: 500;
}

.sidebar ul li a .icon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 75px;
  height: 60px;
  font-size: 22px;
}

.sidebar ul li a .text {
  position: relative;
  display: flex;
  align-items: center;
  height: 60px;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 0.6px;
  font-weight: 500;
}

.social-trigger >a .icon {
  font-size: 24px;
  color: #fff;
}

.social-trigger {
  position: relative;
}

.social-menu {
    display: inline-flex;
    position: absolute;
    left: 50px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
}

.social-menu a i.icon {
  font-size: 18px;
  color: #7B4F2A;
  transition: 0.5s;
}

.social-menu a {
  margin: 0;
  padding: 0;
  font-size: 14px;
  display: inline-flex;
  align-items: center;
}

.social-menu a:hover .icon {
    color: #fff;
    transform: rotateY(360deg);
}

.social-menu a:hover .icon {
    color: #fff;
    transform: rotateY(360deg);
}

.social-menu a + a {
    margin-left: -25px; 
}

.sidebar-footer {
  position: fixed;
  bottom: 10px;
  left: 100px;
  font-size: 11px;
  color:#edeaea;
  letter-spacing: 0.4px;
  pointer-events: none;
}

/* set lang button */

.lang-button ul {
  display: flex;
  position: fixed;
  top: 20px;
  right: 20px;
  gap: 25px;
  z-index: 2;
}

.lang-button ul li {
  position: relative;
  list-style: none;
  width: 60px;
  height: 60px;
  background: #556B2F;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  border-radius: 60px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

.lang-button ul li::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 60px;
  background: linear-gradient(45deg, var(--i), var(--j));
  opacity: 0;
  transition: 0.5s;
}

.lang-button ul li::after {
  content: "";
  position: absolute;
  top: 10px;
  width: 100%;
  height: 100%;
  border-radius: 60px;
  background: linear-gradient(45deg, var(--i), var(--j));
  transition: 0.5s;
  filter: blur(15px);
  z-index: -1;
  opacity: 0;
}

.lang-button ul li:hover {
  width: 180px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0);
}

.lang-button ul li:hover::before {
  opacity: 1;
}

.lang-button ul li:hover::after {
  opacity: 0.5;
}

.lang-button ul li ion-icon {
  color: #fff;
  margin-left: 1px;
  margin-top: 3px;
  font-size: 1.75em;
  transition: 0.5s;
  transition-delay: 0.25s;
}

.lang-button ul li:hover ion-icon {
  transform: scale(0);
  color: #fff;
  transition-delay: 0s;
}

.lang-button ul li span {
  position: absolute;
}

.lang-button ul li .title {
  color: #fff;
  font-size: 1.1em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  transform: scale(0);
  transition: 0.5s;
  transition-delay: 0s;
}

.lang-button ul li:hover .title {
  transform: scale(1);
  transition-delay: 0.25s;
}

/*Content style*/

.main-content {
  margin-left: 75px;
  padding: 40px;
  transition: margin-left 0.6s ease;
}

.sidebar:hover ~ .main-content {
  margin-left: 250px;
}

.main-content h1 {
  font-size: 2.5rem;
  margin-bottom: 16px;
  margin-top: -10px;
}

.underline {
  position: relative;
  display: inline-block;
  color: #7B4F2A;
}

.underline::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0.05em;
  width: 100%;
  height: 0.35em;
  background-color: #7B4F2A;
  border-radius: 999px;
  z-index: -1;
}

.main-content p {
  margin-top: 30 px;
  margin-left: 0;
  margin-right: 50px;
}

